services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    entrypoint: >
      bash -c "
      ollama serve &
      sleep 3 &&
      if ! ollama list | grep -q 'gemma3'; then
        echo 'Baixando modelo gemma3...';
        ollama pull gemma3;
        ollama pull nomic-embed-text;
      else
        echo 'Modelo gemma3 já está instalado.';
      fi &&
      wait
      "

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_python
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - ollama
volumes:
  ollama_data:
